body{
    background-color: var(--color, beige);
    
}

.titles{
    color: #000080;
    margin: auto auto;
    text-align: center;
    text-decoration: underline;
    position: static;
    font-family: "Roboto", Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, details {
    color: rgb(1,121,111);
}


nav{
    padding: 1Q;
    text-align: center;
    top: 20px;
    margin-right: 20px;
    position: sticky;
    justify-content: space-evenly;
}

.text-border{
    border: 50px #000;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 0.1cm;
    max-width: fit-content;
    max-height: fit-content;
    & > a{
        color:brown;
    }
}

main{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    border: 1px #000;
    border-style: solid;
    padding-top: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1ch;
    display: grid;
}

.box{
    display: inline-grid;
    column-gap: 10px;
    row-gap: 1px;
    align-items: stretch;
    width: 200px;
    height: 150px;
    background-color: cornflowerblue;
}

#phrases{
    border: 1px #000;
}

.attendence{
    display: inline-flex;
    flex-direction: row;
    align-content: space-evenly;
}

button:hover{
    background-color: lightblue;
}

button:active{
    box-shadow: 2px 2px 5px #000;
}

@media (width <= 500px) {
    .small-text{
        font-size: larger;
    }
}

a[href="#"], .attendence{
    font-size: 20px;
}

article > p{
    flex-wrap: wrap;
}

fieldset > legend{
    font-size: 20px;
}

p ~p{
    background-color: azure;
    max-width: fit-content;
}

div + p{
    background-color: lightblue;
}

ul li {
    list-style-type: circle;
}

p.italicize{
    color: red;
}

h1:has(+h3){
    color:darkcyan;
}

#phrasetitle{
    color: white;
}
