body{
    background-color: var(--color, beige);
    
}

.titles{
    color: #000080;
    margin: auto auto;
    text-align: center;
    text-decoration: underline;
    position: static;
}

h2{
    color: rgb(1,121,111);
}

details{
    color: hsl(127, 45%, 37%);
}

nav{
    padding: 1Q;
    text-align: center;
    top: 20px;
    margin-right: 20px;
    position: sticky;
    justify-content: space-evenly;
}

.text-border{
    border: 50px #000;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 0.1cm;
    max-width: fit-content;
    max-height: fit-content;
}

main{
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: auto;
    margin-right: 300px;
    border: 1px #000;
    border-style: solid;
    padding-top: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 1ch;
    display: grid;
}

.box{
    display: inline-grid;
    column-gap: 10px;
    row-gap: 1px;
    align-items: stretch;
    width: 200px;
    height: 150px;
    background-color: cornflowerblue;
}

#phrases{
    border: 1px #000;
}

.attendence{
    display: inline-flex;
    flex-direction: row;
    align-content: space-evenly;
}

button:hover{
    background-color: lightblue;
}

button:active{
    box-shadow: 2px 2px 5px #000;
}